<div>
  <h2 id="page-heading" data-cy="CondominiumHeading">
    <span appTranslate="condominiumgwApp.condominium.home.title">Condominiums</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="condominiumgwApp.condominium.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-condominium"
        [routerLink]="['/condominium/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="condominiumgwApp.condominium.home.createLabel"> Create a new Condominium </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="condominiums?.length === 0">
    <span appTranslate="condominiumgwApp.condominium.home.notFound">No condominiums found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="condominiums && condominiums.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="nombre">
            <span appTranslate="condominiumgwApp.condominium.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="direccion">
            <span appTranslate="condominiumgwApp.condominium.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="logo">
            <span appTranslate="condominiumgwApp.condominium.logo">Logo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="latitud">
            <span appTranslate="condominiumgwApp.condominium.latitud">Latitud</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="longitud">
            <span appTranslate="condominiumgwApp.condominium.longitud">Longitud</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="estado">
            <span appTranslate="condominiumgwApp.condominium.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let condominium of condominiums; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/condominium', condominium.id, 'view']">{{ condominium.id }}</a>
          </td>
          <td>{{ condominium.nombre }}</td>
          <td>{{ condominium.direccion }}</td>
          <td>{{ condominium.logo }}</td>
          <td>{{ condominium.latitud }}</td>
          <td>{{ condominium.longitud }}</td>
          <td>{{ condominium.estado }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/condominium', condominium.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/condominium', condominium.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(condominium)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="condominiums && condominiums.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
