<div>
  <h2 id="page-heading" data-cy="PagoHeading">
    <span appTranslate="condominiumgwApp.pago.home.title">Pagos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span appTranslate="condominiumgwApp.pago.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-pago"
        [routerLink]="['/pago/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span appTranslate="condominiumgwApp.pago.home.createLabel"> Create a new Pago </span>
      </button>
    </div>
  </h2>

  <app-alert-error></app-alert-error>

  <app-alert></app-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="pagos?.length === 0">
    <span appTranslate="condominiumgwApp.pago.home.notFound">No pagos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="pagos && pagos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr appSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" appSortBy="id"><span appTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="anio"><span appTranslate="condominiumgwApp.pago.anio">Anio</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="mes"><span appTranslate="condominiumgwApp.pago.mes">Mes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" appSortBy="valor">
            <span appTranslate="condominiumgwApp.pago.valor">Valor</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="estado">
            <span appTranslate="condominiumgwApp.pago.estado">Estado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="fechaGeneracion">
            <span appTranslate="condominiumgwApp.pago.fechaGeneracion">Fecha Generacion</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="fechaPago">
            <span appTranslate="condominiumgwApp.pago.fechaPago">Fecha Pago</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" appSortBy="cuota.nombre">
            <span appTranslate="condominiumgwApp.pago.cuota">Cuota</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of pagos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/pago', pago.id, 'view']">{{ pago.id }}</a>
          </td>
          <td>{{ pago.anio }}</td>
          <td>{{ pago.mes }}</td>
          <td>{{ pago.valor }}</td>
          <td appTranslate="{{ 'condominiumgwApp.RegisterState.' + pago.estado }}">{{ pago.estado }}</td>
          <td>{{ pago.fechaGeneracion | formatMediumDate }}</td>
          <td>{{ pago.fechaPago | formatMediumDate }}</td>
          <td>
            <div *ngIf="pago.cuota">
              <a [routerLink]="['/cuota', pago.cuota?.id, 'view']">{{ pago.cuota?.nombre }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/pago', pago.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/pago', pago.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(pago)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" appTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="pagos && pagos.length > 0">
    <div class="d-flex justify-content-center">
      <app-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></app-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
