<form *ngIf="pago" name="deleteForm" (ngSubmit)="confirmDelete(pago.id!)">
  <div class="modal-header">
    <h4 class="modal-title" data-cy="pagoDeleteDialogHeading" appTranslate="entity.delete.title">Confirm delete operation</h4>

    <button type="button" class="btn-close" data-dismiss="modal" aria-hidden="true" (click)="cancel()">&times;</button>
  </div>

  <div class="modal-body">
    <app-alert-error></app-alert-error>

    <p id="app-delete-pago-heading" appTranslate="condominiumgwApp.pago.delete.question" [translateValues]="{ id: pago.id }">
      Are you sure you want to delete this Pago?
    </p>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cancel()">
      <fa-icon icon="ban"></fa-icon>&nbsp;<span appTranslate="entity.action.cancel">Cancel</span>
    </button>

    <button id="app-confirm-delete-pago" data-cy="entityConfirmDeleteButton" type="submit" class="btn btn-danger">
      <fa-icon icon="times"></fa-icon>&nbsp;<span appTranslate="entity.action.delete">Delete</span>
    </button>
  </div>
</form>
